<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>АвтоМир - Список заказов</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header>
    <h1>АвтоМир - Админ панель</h1>
    <nav>
        <a th:href="@{/logout}">Выйти</a>
    </nav>
</header>
<main>
    <h2>Список заказов</h2>
    <table th:unless="${orders.isEmpty()}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Пользователь</th>
            <th>Дата</th>
            <th>Сумма</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.user.username}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.totalAmount}"></td>
            <td>
                <a th:href="@{/admin/order-detail/{id}(id=${order.id})}">Подробнее</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    <p>&copy; 2023 АвтоМир.</p>
</footer>
</body>
</html>