<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>АвтоМир - Ошибка</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header>
    <h1>АвтоМир</h1>
</header>
<main>
    <h2>Произошла ошибка!</h2>
    <p th:text="${errorMessage}">Сообщение об ошибке</p>
    <a th:href="@{/}">Вернуться на главную страницу</a>
</main>
<footer>
    <p>&copy; 2023 АвтоМир.</p>
</footer>
</body>
</html>